# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Среда
.env
.env.local

# Локальная БД
*.db
*.sqlite
*.sqlite3

# IDE
.idea/
.vscode/

# Тесты/кэш
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
